body{
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
   
}
hr{
    border-top: 0 ;
    margin: .75rem 0;
}
span{
    color: white;
}
h2{
    color: hsl(178, 100%, 50%);
}
span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.card{
    background-color: hsl(216, 50%, 16%);
    width: 17.5rem;
    margin: auto;
    padding: .9375rem;
    border-radius: .625rem;
    box-shadow: 0 0 .625rem  .3125rem  hsl(216, 100%, 7%);
    position: relative;
    color: gray;
}

.img{
    width: 100%;
    border-radius: .625rem;
    position: relative;

    height: 12.5rem;

    display: block;
    background-image: url('../images/image-equilibrium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.img::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 255, 255, 0.393);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url('../images/icon-view.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .625rem;
    opacity: 0;
    transition: opacity 1s ease;
}
.img:hover::after{
    opacity: 1;
}

.mid-section > h1{
    font-size: 1.6rem;
    color: white;
}
h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.left-side{
    display: inline-block;
    width: 9.375rem;
}
.left-side > h2{
    display: inline-block;
    width: 80%;
    margin: 0;
    font-size: 1.15rem;
}
.left-side > img{
    position: relative;
    top: .125rem;
    margin-right: .0625rem;
}
.right-side >p{
    width: 65%;
    margin: 0;
    display: inline-block;
    font-size: .875rem;
}
.right-side > img{
    position: relative;
    top: .1875rem;
    margin-right: .0625rem;
}
.right-side{

    width: 7rem;
    float: right;
}

.bottom-section >img{
    width: 1.5rem;
    position: relative;
    top: .35rem;
    margin-right: .0625rem;
}

.bottom-section >p{
    width: 12.5rem;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
     ;
}

.bottom-section{
    padding-bottom:.625rem;
}
.footer{
    position: fixed;
    bottom: 0;
}
